 <section class="border-white/20  border-y">
        <div class="text-black mx-auto">
          <div class="mx-auto overflow-hidden overflow-x-hidden py-2 relative">
            <div class="w-full justify-between grid">
              <div
                class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-r">
              </div>
              <div
                class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-l ml-auto">
              </div>
            </div>
            <div
              class="flex items-center animate-marquee font-black font-display gap-4 relative tracking-widest uppercase whitespace-nowrap">
              <span class="hidden lg:inline">✺</span>tecnología <span class="hidden lg:inline">✺</span>calidad <span
                class="hidden lg:inline">✺</span
              > innovación <span class="hidden lg:inline">✺</span> eficiencia <span
                class="hidden lg:inline">✺</span
              >integridad <span class="hidden lg:inline">✺</span> sostenibilidad <span
                class="hidden lg:inline">✺</span
              > colaboración <span class="hidden lg:inline">✺</span>visión <span
                class="hidden lg:inline">✺</span> ingeniería <span class="hidden lg:inline">✺</span> mantenimiento
            </div>
          </div>
        </div>
      </section>
