<section class="border-black/20  border-b">
  <div class="mx-auto border-black/20  border-x max-w-7xl">
    <div class="p-8">
      <p class="text-black font-display uppercase text-3xl lg:text-6xl">
        equipo
      </p>
    </div>

<div class="mx-auto p-8 grid grid-cols-1 md:grid-cols-[1fr_2fr] gap-8 items-center">
  <!-- Left Side: Image and Name -->
  <div class="relative flex flex-col justify-between items-center h-full md:h-auto">
    <!-- Background Image -->
    <img src="avatars/user.png" alt="Misael Ochoa" class="block h-36 w-36 inset-0 object-cover" />
    
    <!-- Text on Top of the Image -->
    <div class="mt-3">
      <span class="block font-semibold text-lg md:text-xl">Misael Ochoa</span>
      <span class="block text-sm md:text-base text-eagle">CEO</span>
    </div>
  </div>
  
  <!-- Right Side: Description -->
  <div class="text-black text-sm md:text-base">
    <p class="text-black">
      Ingeniero Electricista motivado al logro, orientado al cliente y a resultados, dedicado a los detalles, 
      con experiencia en el área de mantenimiento electromecánico industrial, desarrollo y ejecución 
      de rutinas de mantenimiento, manejo de personal técnico y resolución de fallas eléctricas y mecánicas, 
      teniendo el interés y la disposición genuina por promover la formación y el desarrollo del personal 
      a mi cargo, a partir de un apropiado análisis de necesidades de cada individuo.
    </p>
  </div>
</div>

</section>
