<section id="contacto" class="border-black/20  border-b">
  <div class="mx-auto border-black/20  border-x max-w-7xl">
    <div class="bg-transparent duration-200 group hover:bg-carrot">
      <a
        href="mailto:michael@andreuzza.com"
        class="text-white text-center items-center w-full bg-carrot duration-200 focus:outline-disc focus:ring-0 font-display font-medium hoder:rounded-0 inline-flex justify-center lg:py-12 lg:text-6xl px-4 py-6 rounded-full text-3xl"
        >Contáctanos</a>
    </div>
    <div class="mx-auto p-8 grid grid-cols-1 md:grid-cols-[1fr_1fr] gap-8 justify-center items-center">
      <a class="text-white justify-center text-center bg-carrot duration-200 focus:outline-disc focus:ring-0 font-display font-medium hoder:rounded-0 inline-flex lg:py-12 lg:text-2xl px-4 py-6 rounded-full text-1xl" href="tel:+56958907312"> Teléfono CHI </a>
      <a class="text-white justify-center text-center bg-carrot duration-200 focus:outline-disc focus:ring-0 font-display font-medium hoder:rounded-0 inline-flex lg:py-12 lg:text-2xl px-4 py-6 rounded-full text-1xl" href="tel:+584242395266"> Teléfono VEN </a>
    </div>
  </div>
</section>
