---
import Banner from "@/components/landing/Banner.astro";
import Testimonials from "@/components/landing/Testimonials.astro";
---

<section class="border-white/20  border-b">
  <div class="mx-auto border-white/20  border-x max-w-7xl">
    <div class="mx-auto">
      <div class="mx-auto lg:pt-28 gradient-grid px-8 py-12">
        <h1 class="text-black font-display uppercase text-2xl lg:text-5xl">
          <span class="text-[#db0000] text-3xl lg:text-7xl">CIMATEC</span> - Soluciones en contrución, ingeniería, mantenimiento y tecnología.
        </h1>
      </div>
      <Banner />
    </div>
  </div>
</section>
<style>
  h1:not(:first-child) {
    font-size: 1rem; /* Adjust font size as needed */
  }
</style>
