<section class="border-black/20  border-b ">
  <div class="mx-auto border-black/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-black font-display uppercase lg:text-6xl text-xl">
        Nuestro compromiso es ofrecer soluciones integrales y de alta calidad para proyectos de 
        infraestructura, edificación y mantenimiento. Contamos con un equipo multidisciplinario de
        profesionales apasionados por la innovación y la excelencia.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-black font-display uppercase lg:text-3xl">
        Nuestra visión es transformar el panorama de la industria a través de la aplicación 
        de tecnologías avanzadas, la sostenibilidad y la eficiencia en cada proyecto. 
        Buscamos ser reconocidos como un referente en soluciones constructivas y de ingeniería, 
        contribuyendo al desarrollo sostenible de comunidades y empresas.
      </p>
    </div>
  </div>
</section>
