<section class="border-black/20  border-b">
  <div class="mx-auto border-black/20  border-x max-w-7xl">
    <div class="p-8">
      <p class="text-black font-display uppercase text-3xl lg:text-6xl">
        servicios
      </p>
    </div>
    <div
      class="text-black text-xs gap-3 gap-y-12 grid grid-cols-1 md:grid-cols-4 mx-auto p-8 sm:grid-cols-2 md:gap-y-0">
      <div>
        <div>
          <span class="text-black font-display text-xl"
            >Soporte Técnico Electromecánico:</span
          >
        </div>
        <p class="mt-3 text-eagle">
          Instalación y reparación electromecánica de sistemas de transporte de logística automatizados.
        </p>
      </div>
      <div>
        <div>
          <span class="text-black font-display text-xl"
            >Servicios de Ingeniería y Actividades conexas de Consultoría Técnica:</span
          >
        </div>
        <p class="mt-3 text-eagle">
          Desarrollo de Proyectos de Automatización, soluciones de fallas electromecánicas, diseño y mantenimiento de redes industriales.
        </p>
      </div>
      <div>
        <div>
          <span class="text-black font-display text-xl"
            >Soporte Técnico en Redes ProfiBus:</span
          >
        </div>
        <p class="mt-3 text-eagle">
          Especialistas en diseño, instalación, análisis y solución de fallas en Redes ProfiBus.
        </p>
      </div>
      <div>
        <div>
          <span class="text-black font-display text-xl"
            >Desarrollo de Planes de Manteniemiento:</span
          >
        </div>
        <p class="mt-3 text-eagle">
          Elaboración de planes de mantenimiento correctivo, reventivo y predictivo. 
          Creación de checklist para estandarizar los procedimientos de limpieza, inspección y corrección de fallas,
          acortando los tiempos invertidos en los diferentes procedimientos.
        </p>
      </div>
    </div>
  </div>
</section>
