---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/landing/Hero.astro";
import Work from "@/components/landing/Work.astro";
import Intro from "@/components/landing/Intro.astro";
import Services from "@/components/landing/Services.astro";
import Cta from "@/components/landing/Cta.astro";
import Biography from "@/components/landing/Biography.astro";

---


<BaseLayout>
  <Hero />
  <Work />
  <Intro />
  <Biography />
  <Services />
  <Cta id="contacto" />
</BaseLayout>
