---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";
---

<html lang="en" class="selection:bg-carrot selection:text-white">
  <head>
    <BaseHead />
  </head>
  <body class="mx-auto bg-white 2xl:max-w-7xl">
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
