<footer class="border-white/20  border-b bg-accent-500">
  <div class="mx-auto border-white/20  border-x max-w-7xl">
    <div class="mx-auto p-8 items-start justify-between w-full">
      <div class="text-black text-center items-center mx-auto">
        <p class="uppercase font-display text-2xl text-[#db0000]">CIMATEC</p>
        <p class="mx-auto mt-3 text-sm">
          Developed by <a
            class="underline"
            href="https://emerson-portfolio-blog.vercel.app/">EmersonG</a
          >.
          All rights reserved.
        </p>
      </div>
    </div>
     </div>
</footer>
