<section
  class="mx-auto border-white/20  border-t 2xl:max-w-7xl bg-black border-b justify-center lg:fixed lg:z-50 w-full">
  <div class="mx-auto bg-white justify-center w-full">
    <div
      class="mx-auto border-black/20  border-x max-w-7xl flex flex-col lg:flex-row lg:items-center lg:justify-between w-full">
      <div
        class="text-white text-center items-center w-full flex flex-col justify-between md:px-0 sm:flex-row sm:px-8">
        <a
          href="#"
          class="text-black text-xs font-display inline-flex items-center md:px-8 md:text-center py-4 uppercase"
        ><img src="avatars/logo_3.png" alt="CIMATEC" width="200" height="80">
        </a>
        <a
          href="#contacto"
          class="w-full bg-carrot duration-200 font-display hover:bg-blacktext-white lg:w-auto px-6 py-4 sm:rounded-full text-black hover:text-white text-center text-xs uppercase"
          >Contacto</a
        >
      </div>
    </div>
  </div>
</section>
